---
title: Chase Farrant
---

<!doctype html>
<html lang="en">
  <head>
    <link async rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <link async rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans">
    <link href="{{ '/css/styles.css' | url | bust }}" rel="stylesheet" />
    <link href="{{ '/css/prism.css' | url | bust }}" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% favicons 'favicon.png', appleIconBgColor='#123' %}
    <title>{{ title }}</title>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-ZX4DD1Y9MK');
    </script>
  </head>
  <body>
    <script src="https://unpkg.com/prismjs@v1.x/components/prism-core.min.js"></script>
    <script src="https://unpkg.com/prismjs@v1.x/plugins/autoloader/prism-autoloader.min.js"></script>
    <div class="name">
        <h3><a href="/">Chase Farrant</a></h3>
    </div>
    <div class="menubar">
        <a href="/about">About</a> &nbsp; | &nbsp;
        <a href="/blog">Blog</a> &nbsp; | &nbsp;
        <a href="/projects">Projects</a> &nbsp;
    </div>
    &nbsp;
    {{ content | safe }}
  </body>
  <footer>
    &nbsp;
    <hr style="text-align:left;margin-left:0">
    <p>
        <b> &copy; 2023 </b> Chase Farrant 
    </p>
  </footer>
</html>